
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    font-family:'Istok Web';
    padding: 0;
    box-sizing: border-box;
}

nav{
    box-shadow: 0 4px 10px 5px grey;
}

.logo{
    font-size:35px;
    margin-left: 20px;
}

.vis{
    color: red;
  }

.smart{
    color:#fff;
}

body{
    background: #FFECD6;
}


.btn{
    height:35px;
    background: #525CEB;
    font-size:1.2rem;
    color:#fff;
    width:100px;
}

.homeimage:hover{
    transition: 1s;
    transform: scale(1.02);
    cursor: pointer;
}

.abt{
    text-decoration: none;
    color: #fff;
}

button{
    cursor: pointer;
}

.start{
    display: flex;
    align-items: center;
    justify-content: center;
}

.s{
    height:50px;
    width:180px;
    background: #525CEB;
    color: #fff;
    font-size: 1.1rem;
    box-shadow:3px 3px 3px 3px grey;

}

.introduction{
    display: flex;
    align-items: center;
    margin-right: 80px;
}

.theory{
    font-size:1.8rem;
    margin:80px;
    color: #000;
}

.nav-items{
    display: flex; 
    align-items: center;
    margin-right:20px;
    column-gap: 2vw;
    color: #fff;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height:120px;
    background:#0F1035;
}